body {
	background: lightblue;
	text-align: center;
}
.wrapper {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
img{
	transform: translateX(-80px) translateY(100px) 
	scaleX(0.8) scaleY(1.2) rotateX(15deg) rotateY(-12deg) rotateZ(30deg);
}